:root {
    --gradientBase: auto;
    --customBlack: rgb(32, 32, 28);
}

body {
    margin: 0;
}

h1 {
    font-family: kaneda-gothic,sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 24px;
}

p {
    font-family: aktiv-grotesk-extended, sans-serif;
    text-indent: 2em;
    margin-top: -.2em;
    margin-bottom: .15em;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.1em;
    hyphens: auto;
}

p:first-of-type {
    text-indent: 0em;
}

.coordinatesList:first-of-type {
    margin-top: 6px;
    /* line-height: 24px; */
}

a {
    color: var(--gradientBase);
    text-decoration: none;
}

#wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: repeat(3, 1fr);
    grid-gap: 1vh;
    margin: 1vh;
    height: 98vh;
}

#textCell {
    grid-column: 2 / span 1;
    grid-row: 1  / span 3;
    max-height: 100%;
    overflow: scroll;
    -ms-overflow-style: none;  
    scrollbar-width: none; 
    font-size: 18px;
    padding-left: 4px;
}

.coordinatesList {
    margin-top: -.2em;
    margin-bottom: -.2em;
    padding: 0;
    font-family: kaneda-gothic,sans-serif;
    font-weight: 700;
    font-style: normal;
}

.metaDataImage {
    width: 100%;
}

#textCell::-webkit-scrollbar {
    display: none;
}

.observationsMap {
    grid-row: 1 / span 2;
    grid-column: 3 / span 4;
    overflow: hidden;
    background-color: var(--customBlack);
}
    
.observationsMap:nth-child(2) {
    grid-row: 3;
    grid-column: 5 / span 2;
}

svg {
    background-color: var(--customBlack);
}

.obsLine {
    /* stroke: rgb(66, 82, 249); */
    stroke-width: .2;
    }

.borderLine {
    stroke-width: 2;
    opacity: .06;
    }

.species {
    font-size: 18px;
    color: var(--customBlack);
}

.attribution {
    font-size: 13px;
    color: var(--customBlack);
}

.dateLink {
    font-size: 18px;
    color: var(--customBlack);
    margin-bottom: 18px;
}

circle {
    opacity: .2;
}

.placeContainer {
    grid-column: 3 / span 2;
    grid-row: 3 / span 1;
    font-size: 22px;
    text-align: right;
    color: var(--customBlack);
    font-weight: 700;
    font-family: kaneda-gothic,sans-serif;
    /* mix-blend-mode: multiply; */
}

.satImage {
    grid-column: 3 / span 2;
    grid-row: 3 / span 1;
    background-color: var(--gradientBase);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
}

.siteDescription {
    grid-row: 1 / span 3;
    grid-column: 1 / span 1;
}

#loadingNotification {
    grid-column: 3 / span 2;
    grid-row: 2;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    font-family: kaneda-gothic,sans-serif;
    font-style: normal;
}
